/* Unused */

/* background images */
._bg-img-1 {
  background-image: url(../motor.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
._bg-img-2 {
  background-image: url(../yamaha.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
._bg-img-3 {
  background-image: url(https://images.unsplash.com/photo-1558981806-ec527fa84c39?w=800&q=80);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}